
<% include partials/header %>

<!--<div class = "container">-->

<!--    <header class = "jumbotron">-->
<!--        <div class = "container">-->
<!--            <h1>Welcome!欢迎来到音徽琴行</h1>-->
<!--            <p>选择属于你的专属乐器</p>-->
<!--            <p>-->
<!--            <a class = "btn" href = "/">Home</a>-->
<!--            <a class= "btn" href = "/class">查看课程</a>-->
<!--            <a class = "btn" href = "/blog">博客</a>-->
<!--            <a class= "btn" href = "/aboutus">关于音徽</a>-->
<!--            </p>-->
<!--            <br>-->
<!--        </div>-->
        
<!--    </header>-->
    
<!--</div>-->

 <% include partials/footer %>
